.a{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: 5px 50px 30px 200px;
}
.b{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 275px;
}
.c{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 350px;
}
.d {
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color: black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 425px;
}
.e{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 500px;
}
.f{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 575px;
}
.g{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -30px 50px 30px 200px;
}
.i{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 275px;
}
.h{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 350px;
}
.j{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 425px;
}
.k{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 500px;
}
.l{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 575px;
}
.m{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -30px 50px 30px 200px;
}
.n{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 275px;
}
.o{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 350px;
}
.p{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 425px;
}
.q{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 500px;
}
.r{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 575px;
}
.s{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -30px 50px 30px 200px;
}
.t{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 275px;
}
.u{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 350px;
}
.v{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 425px;
}
.w{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 500px;
}
.x{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 575px;
}
.y{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -30px 50px 30px 200px;
}
.z{
    font-size: 40px;
    text-align: center;
    width: 45px;
    height: 70px;
    border: 2px solid white;
    color:black;
    background-color: yellowgreen;
    padding: 10px 50px 20px 20px;
    box-sizing: border-box;
    margin: -100px 50px 30px 275px;
}